/* index.css */

/* Reset margin and smoothing */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code font fallback */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Global fonts & background */
html, body {
  font-family: 'Monument', sans-serif;
  background: transparent; /* instead of #f9f9f9 */
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
